.projects {
    flex-direction: column;
    margin-bottom: 5rem;
}

.projects__title {
    font-size: 2rem;
    font-weight: normal;
    margin-top: 0;
    &--top-margin {
        margin-top: 5rem;
    }
}

.projects__thumbnails {
    height: 500px;
    margin: 2rem 0 5rem 0;
    width: 100%;
    @include flex-center-row;
}

.projects__photo {
    overflow: hidden;
    display: block;
    margin: 0.5rem 1rem;
    background-color: #777777;
    height: 500px;
    position: relative;
}

.projects__zoom {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    opacity: 0;
    transition: 0.3s all;
    font-size: 4rem;
    z-index: -1;
    color: #eeeeee;
}

.projects__background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%) scale(1);
    transform-origin: center center;
    transition: 0.3s all;
    width: auto;
    height: 100%;
    &:hover {
        transition: 0.3s all;
        transform-origin: 100% 0%;
        transform: scale(1.05) translateY(-50%) translateX(-50%);
        transform-origin: center center;
        filter: blur(5px);
    }
}
