* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.6;
  font-weight: 400; }
  @media screen and (max-width: 600px) {
    html {
      font-size: 9px; } }
  @media screen and (min-width: 601px) and (max-width: 968px) {
    html {
      font-size: 10px; } }
  @media screen and (min-width: 969px) {
    html {
      font-size: 10px; } }

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1.6rem;
  color: #333;
  min-height: 100vh;
  position: relative;
  letter-spacing: 0.2rem; }

.header {
  width: 100%;
  height: 5rem;
  position: relative; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  height: 11rem;
  padding: 1rem 2rem 1rem 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 2;
  -webkit-transition: height 0.5s, background-color 0.5s;
  transition: height 0.5s, background-color 0.5s;
  -webkit-box-shadow: 0px 2px 15px 0px rgba(51, 51, 51, 0.5);
  box-shadow: 0px 2px 15px 0px rgba(51, 51, 51, 0.5); }
  @media screen and (max-width: 900px) {
    .nav {
      height: 7rem; } }

.nav--small {
  height: 4rem;
  padding: 0.2rem 2rem 0.2rem 0;
  background-color: white;
  -webkit-transition: height 0.5s, background-color 0.5s;
  transition: height 0.5s, background-color 0.5s;
  -webkit-box-shadow: 0px 2px 15px 0px rgba(51, 51, 51, 0.5);
  box-shadow: 0px 2px 15px 0px rgba(51, 51, 51, 0.5); }

.nav__logo {
  margin: 1rem 0 0 3rem;
  height: 10rem;
  width: auto;
  -webkit-transition: height 0.5s, background-color 0.5s, margin 0.5s;
  transition: height 0.5s, background-color 0.5s, margin 0.5s; }
  @media screen and (max-width: 900px) {
    .nav__logo {
      margin: 1rem 0 0 1rem;
      height: 6rem; } }
  @media screen and (min-width: 900px) and (max-width: 1050px) {
    .nav__logo {
      margin: 1rem 0 0 1rem;
      height: 7rem; } }

.nav__logo--small {
  margin: 1rem 0 0 2rem;
  height: 3rem;
  width: auto;
  -webkit-transition: height 0.5s, background-color 0.5s, margin 0.5s;
  transition: height 0.5s, background-color 0.5s, margin 0.5s; }

@media screen and (min-width: 851px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 100%; } }

@media screen and (max-width: 850px) {
  .nav__list {
    display: none; } }

.nav__list--mobile, .nav__list--mobile--scrolled {
  background-color: white;
  position: absolute;
  left: 0;
  top: 5.4rem;
  width: 100%;
  display: none;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(51, 51, 51, 0.5);
  box-shadow: 0px 5px 15px 0px rgba(51, 51, 51, 0.5); }

.nav__list--mobile--scrolled {
  top: 2.4rem;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(51, 51, 51, 0.5);
  box-shadow: 0px 5px 15px 0px rgba(51, 51, 51, 0.5); }

.nav__item {
  font-size: 1.8rem;
  padding: 1rem;
  display: block; }
  @media screen and (max-width: 850px) {
    .nav__item {
      text-align: center;
      width: 100%; } }

.nav__item--mobile {
  margin-left: -2rem; }

@media screen and (min-width: 851px) {
  .nav__item:last-of-type {
    margin-right: 3rem; } }

.nav__link {
  color: #333333;
  text-decoration: none; }

.nav__link:hover {
  color: #666666;
  text-decoration: underline; }

.nav__hamburger, .nav__close-menu {
  color: #333333;
  font-size: 3rem;
  border: none;
  background: none; }
  @media screen and (min-width: 851px) {
    .nav__hamburger, .nav__close-menu {
      display: none; } }

.nav__close-menu {
  display: none; }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%; }

.container__title {
  color: #333333;
  margin: 10rem 0 5rem 0;
  font-weight: normal; }
  @media screen and (max-width: 630px) {
    .container__title {
      text-align: center; } }

.section {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  min-height: 30vh; }
  @media screen and (min-width: 320px) and (max-width: 968px) {
    .section {
      width: 95%; } }
  @media screen and (min-width: 969px) and (max-width: 1200px) {
    .section {
      width: 100%; } }
  @media screen and (min-width: 1201px) {
    .section {
      width: 117rem; } }

.section__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.section__title {
  text-align: center;
  font-weight: normal; }
  @media screen and (min-width: 601px) {
    .section__title {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%; } }

.section__paragraph {
  font-size: 2rem;
  font-style: italic; }
  @media screen and (max-width: 600px) {
    .section__paragraph {
      text-align: center; } }
  @media screen and (min-width: 601px) {
    .section__paragraph {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%; } }

.section__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%; }

.section__text {
  font-size: 1.8rem;
  font-weight: 400; }
  @media screen and (max-width: 600px) {
    .section__text {
      text-align: center;
      padding: 0.5rem 2rem 0.5rem 2rem; } }
  @media screen and (min-width: 601px) and (max-width: 968px) {
    .section__text {
      text-align: left;
      padding: 0.5rem; } }
  @media screen and (min-width: 968px) {
    .section__text {
      padding: 0 7rem 0 1rem; } }

.bottom-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 2rem; }

.bottom-nav__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%; }

.bottom-nav__list {
  list-style: none;
  width: 100%;
  padding: 0;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.bottom-nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 1rem 0.5%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border: 1px solid black;
  height: 150px; }
  @media screen and (max-width: 600px) {
    .bottom-nav__item {
      width: 100%;
      height: 100px; } }
  @media screen and (min-width: 601px) and (max-width: 900px) {
    .bottom-nav__item {
      width: 45%; } }
  @media screen and (min-width: 901px) {
    .bottom-nav__item {
      width: 31%;
      margin: 1rem 1%; } }
  @media screen and (max-width: 600px) {
    .bottom-nav__item--big {
      width: 100%; } }
  @media screen and (min-width: 601px) and (max-width: 900px) {
    .bottom-nav__item--big {
      width: 45%; } }
  @media screen and (min-width: 901px) {
    .bottom-nav__item--big {
      width: 64%;
      margin: 1rem 1%; } }

.bottom-nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 100%;
  width: 100%;
  color: #333333;
  text-decoration: none;
  font-size: 3rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }
  .bottom-nav__link:hover {
    font-size: 3.5rem;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }

.about {
  margin: 2rem 0 2rem 0; }
  @media screen and (max-width: 600px) {
    .about {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  @media screen and (min-width: 601px) {
    .about {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; } }

.about__portrait {
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }
  @media screen and (max-width: 600px) {
    .about__portrait {
      width: 60%; } }
  @media screen and (min-width: 601px) and (max-width: 968px) {
    .about__portrait {
      -ms-flex-preferred-size: 45%;
      flex-basis: 45%; } }
  @media screen and (min-width: 968px) {
    .about__portrait {
      -ms-flex-preferred-size: 30%;
      flex-basis: 30%; } }

.about__portrait:hover {
  -webkit-box-shadow: 0px 0px 15px 5px rgba(51, 51, 51, 0.5);
  box-shadow: 0px 0px 15px 5px rgba(51, 51, 51, 0.5);
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }

.about__wrapper {
  text-align: center; }
  @media screen and (max-width: 600px) {
    .about__wrapper {
      width: 100%; } }
  @media screen and (min-width: 601px) and (max-width: 968px) {
    .about__wrapper {
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%; } }
  @media screen and (min-width: 968px) {
    .about__wrapper {
      -ms-flex-preferred-size: 60%;
      flex-basis: 60%; } }

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 5rem; }

.contact__wrapper {
  width: 100%; }
  @media screen and (max-width: 700px) {
    .contact__wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  @media screen and (min-width: 701px) {
    .contact__wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; } }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 1rem;
  position: relative; }
  @media screen and (max-width: 900px) {
    .form {
      padding: 1rem; } }
  @media screen and (min-width: 901px) {
    .form {
      padding: 2.5rem;
      width: 50%; } }

.form__input {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: rgba(200, 200, 200, 0.5);
  color: #333333;
  width: 100%;
  border: none;
  height: 3rem;
  text-indent: 1rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }

.form__input:focus {
  background-color: rgba(180, 180, 180, 0.8);
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }

.input__fail {
  font-size: 1.4rem;
  color: #c71610; }

.form__textarea {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: rgba(200, 200, 200, 0.5);
  color: #333333;
  width: 100%;
  height: 13rem;
  border: none;
  resize: none;
  text-indent: 1rem;
  padding-top: 0.5rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }

.form__textarea:focus {
  background-color: rgba(180, 180, 180, 0.8);
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }

.form__button {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.8rem;
  color: #ffffff;
  background-color: #666666;
  cursor: pointer;
  margin: 2rem auto 1rem auto;
  width: 10rem;
  height: 3rem;
  border: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }

.form__button:hover {
  color: #333333;
  background-color: #ffffff;
  border: 1px solid #999999;
  -webkit-box-shadow: 0px 0px 15px 5px rgba(51, 51, 51, 0.3);
  box-shadow: 0px 0px 15px 5px rgba(51, 51, 51, 0.3);
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }

.form__button:focus {
  color: #ffffff;
  background-color: #444444; }

.form__group {
  font-size: 1.8rem;
  padding: 1rem;
  text-align: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }

.form__group:hover {
  -webkit-box-shadow: 0px 0px 15px 5px rgba(51, 51, 51, 0.3);
  box-shadow: 0px 0px 15px 5px rgba(51, 51, 51, 0.3);
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }

.form__success, .form__fail {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  width: 70%;
  height: 20%;
  background-color: #4CD964;
  -webkit-box-shadow: 0px 0px 15px 5px rgba(51, 51, 51, 0.3);
  box-shadow: 0px 0px 15px 5px rgba(51, 51, 51, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .form__success p, .form__fail p {
    font-size: 2.4rem;
    color: #ffffff; }
  @media screen and (max-width: 600px) {
    .form__success, .form__fail {
      width: 90%;
      text-align: center; } }

.form__fail {
  background-color: #c71610; }

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 2rem;
  text-align: center; }
  @media screen and (max-width: 900px) {
    .socials {
      padding: 1rem; } }
  @media screen and (min-width: 901px) {
    .socials {
      width: 50%;
      padding: 2rem 2rem 2rem 7rem; } }

.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  color: #333333;
  text-decoration: none;
  -webkit-transition: color 0.5s, -webkit-box-shadow 0.5s;
  transition: color 0.5s, -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s, color 0.5s;
  transition: box-shadow 0.5s, color 0.5s, -webkit-box-shadow 0.5s; }

.socials__link:hover {
  color: #777777;
  -webkit-box-shadow: 0px 0px 15px 5px rgba(51, 51, 51, 0.3);
  box-shadow: 0px 0px 15px 5px rgba(51, 51, 51, 0.3);
  -webkit-transition: color 0.5s, -webkit-box-shadow 0.5s;
  transition: color 0.5s, -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s, color 0.5s;
  transition: box-shadow 0.5s, color 0.5s, -webkit-box-shadow 0.5s; }

.socials__link:hover .icon-facebook-official {
  color: #3b5998;
  -webkit-transition: color 0.5s;
  transition: color 0.5s; }

.socials__link:hover .icon-mail-alt {
  color: #c71610;
  -webkit-transition: color 0.5s;
  transition: color 0.5s; }

.socials__link:hover .icon-phone-1 {
  color: #4CD964;
  -webkit-transition: color 0.5s;
  transition: color 0.5s; }

.socials__icon {
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  padding-top: 0.5rem;
  font-size: 4rem; }

.socials__icon--mail {
  padding-top: 0.3rem; }

.socials__text {
  text-align: left;
  font-size: 2rem; }
  @media screen and (max-width: 600px) {
    .socials__text {
      padding: 0.5rem 2rem 0 2rem; } }
  @media screen and (min-width: 601px) and (max-width: 968px) {
    .socials__text {
      padding: 0.5rem; } }
  @media screen and (min-width: 968px) {
    .socials__text {
      padding: 0 1rem 0 1rem; } }

.socials__text:hover {
  color: #777777; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #eaeaea;
  height: 3rem;
  background-color: rgba(51, 51, 51, 0.8);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-box-shadow: 0px 0px 15px 5px rgba(51, 51, 51, 0.3);
  box-shadow: 0px 0px 15px 5px rgba(51, 51, 51, 0.3); }

.footer__copyright {
  font-size: 1.2rem; }

.footer__link {
  color: #eaeaea;
  text-decoration: none; }

.footer__link:hover {
  color: #999999;
  text-decoration: underline; }

.scroll-top {
  display: none;
  border: none;
  position: fixed;
  z-index: 1;
  letter-spacing: 0; }
  @media screen and (max-width: 600px) {
    .scroll-top {
      right: 0.5rem;
      bottom: 2.5rem; } }
  @media screen and (min-width: 601px) {
    .scroll-top {
      right: 3rem;
      bottom: 3rem; } }

.icon-angle-circled-up {
  border-radius: 50%;
  font-size: 5rem;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  -webkit-transition: color 0.5s, -webkit-box-shadow 0.5s;
  transition: color 0.5s, -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s, color 0.5s;
  transition: box-shadow 0.5s, color 0.5s, -webkit-box-shadow 0.5s; }

.icon-angle-circled-up:hover {
  border-radius: 50%;
  color: black;
  -webkit-box-shadow: 0px 0px 15px 5px rgba(51, 51, 51, 0.3);
  box-shadow: 0px 0px 15px 5px rgba(51, 51, 51, 0.3);
  -webkit-transition: color 0.5s, -webkit-box-shadow 0.5s;
  transition: color 0.5s, -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s, color 0.5s;
  transition: box-shadow 0.5s, color 0.5s, -webkit-box-shadow 0.5s; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #333333; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #333333; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #333333; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #333333; }

.flex--row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.projects {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 5rem; }

.projects__title {
  font-size: 2rem;
  font-weight: normal;
  margin-top: 0; }
  .projects__title--top-margin {
    margin-top: 5rem; }

.projects__thumbnails {
  height: 500px;
  margin: 2rem 0 5rem 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.projects__photo {
  overflow: hidden;
  display: block;
  margin: 0.5rem 1rem;
  background-color: #777777;
  height: 500px;
  position: relative; }

.projects__background {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  width: auto;
  height: 100%; }
  .projects__background:hover {
    -webkit-transition: 0.3s all;
    transition: 0.3s all; }

.owl-nav {
  position: absolute;
  width: 20%;
  top: 105%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.owl-prev, .owl-next {
  border: 1px solid black;
  height: 3rem;
  width: 10rem;
  margin: 0 1rem 0 1rem;
  text-align: center; }

.owl-carousel .owl-item img {
  width: auto; }
